body {
	font-family: monospace;
	font-size: 16px;
	color: #3A241A;
	background: #E0E0E0;
}

.box {
	font-family: monospace;
	width: 30px;
	height: 30px;
	margin: 4px;
	font-size: 17px;
}

.box:focus {
	width: 31px;
	height: 31px;
}

#otpBox {
	width: 50%;
	height: 100%;
}

#result-1 {
	color: #F4511E;
}

.button-1{
	height :25px;
	width :70px;
	font-size: 16px;
	margin-top: 10px;
}